/*Body Obviously*/

body{
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  margin:0 auto;
}

/* Header & Navigation Bar*/

header{
  display: flex;
  position: fixed;
  height: 69px;
  width: 100%;
  z-index: 1;
  background-color: black;
  justify-content: space-between;
  align-items: center;
  top: 0;
  border-bottom: 1px solid seashell;
}

.logo{
  padding-left: 10px;
}

nav span a{
  color: seashell;
  padding: 20px 10px;
}

/* Our Mission Main Article */

#mission{
  display: flex;
  background-image: url(../../Resources/images/img-mission-background.jpg);
  height: 700px;
  width: 1200px;
  margin: auto;
  margin-top: 70px;
  justify-content: center;
  align-items: center;
}

.headers{
  background-color: black;
  width: 1200px;
}

/* Tea of the Month section */

#store{
  height: 700px;
  width: 1200px;
  padding-top: 70px;
  margin: inherit;
}

.teas{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.tea img{
  display: block;
  height: 200px;
  width: 300px;
  margin: 10px;
}

.tea span{
  margin: 0 auto;
  padding: 5px;
}

/* Locations Section */

#locations{
  height: 500px;
  width: 1200px;
  background-image: url(../../Resources/images/img-locations-background.jpg);
  margin: 0 auto;
  padding-top: 70px;
}

.locations{
  display: flex;
  justify-content: center;

}

.places{
  width: 250px;
  padding: 10px;
  margin: 5px 20px;
  background-color: black;
  flex-basis: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.places h3{
  padding: 10px 10px;
  margin: 0 auto;
}

.places p{
  margin: 22px 0;
}

/* Contacts Section */

.contact{
  height: 200px;
}

.contact h2{
  margin: 0;
  padding: 10px;
}

.copyright{
  text-align: left;
  padding-left: 20px;
}
